<!DOCTYPE html ng-app='chatApp'> 
<html> 
<head> 
    <title>Chat Application</title> 
    <link rel="stylesheet" type="text/css" href="../css/registration.css">

</head> 
<body ng-controller='getUserDetailCtrl'>
    
    <!-- this is for chatapp head -->
        <div class="menu"> 
                    <div class="head1">Chat App   
                        <button href="#logOut" class="loginBtnRight">LOGOUT</button> 
                    </div>       
        </div> 
       
    <!-- this for user -->

            <div class="userList">
                    <div ng-repeat="uData in getUserData">
                            <button ng-click="getUserMessage(uData)">{{uData.firstname}}</button>
                    </div>
            </div>
        <!-- this if for content -->
        <div>
            <h1>Hello Guru</h1>
        </div>
            <div class="contentView">
                  <div ng-repeat="msg in message">
                      {{msg.message}}</div>
            </div>

</body> 
</html>   

