<html>
<head>
    <title>Forget Password</title>
    <link rel="stylesheet" type="text/css" href="../css/registration.css">
</head>
<body>
        <form >
            <div class="forgotpassword" align="center">
                <h1>Forget Password</h1><br>  
                <div> 
                    <label><b>Enter email-id</b></label><br>
                    <input type="text" size="25" ng-model='email'  ng-keyup="emailValidation(email)"><br>
                    <span ng-show ="emailVal" style="color: red">Email should be in email format</span>
                </div>
                <br> 
                <br><br>
                <div>
                    <button type="button" class="sendbutton" ng-click='forgetPassword()'>Send</button>
                    <button type="button" class="cancelbtn" ui-sref='login'> Cancel</button><br>
                 </div>
            </div>
        </form>
</body>
</html>
