<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../css/registration.css">
</head>
<body>
        <form >
            <div class="container" align="center">
                <h1>Login</h1>
                <div>
                    <label> <b>E-mail</b> &nbsp;&nbsp;&nbsp;</label>
                    <input type="text" size="25"> 
                </div>
                 <br>  
                <div> 
                    <label><b>Password</b></label>
                    <input type="text" size="25">
                </div>
            
                <br><br>
                <div>
                    <button type="button" class="loginbtn">Login </button>
                    <button type="button" class="cancelbtn"> Cancel</button><br>
                    <a href="stylesheet" type="txt/css">Forgot Password</a>
                 </div>
            </div>
        </form>
</body>
</html>





<!--





-->