<!DOCTYPE html>
<head>
        <link rel="stylesheet" type="text/css" href="../css/registration.css">
</head>
     <body ng-controller="loginCtrl">  
       
            <div class="container" align="center">
                <h1>Login</h1>
                <div>
                    <label> <b>E-mail</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
                    <input type="text"  ng-model='email' required ng-keyup="emailValidation(email)"> <br>
                    <span ng-show ="emailVal" style="color: red">Email should be in email format</span>

                </div>
                 <br>  
                <div> 
                    <label><b>Password</b></label>
                    <input type="Password"  ng-model='password' required>
                </div>
            
                <br>
                <div>
                    <button type="button" class="loginbtn" ng-click='login()'>Login </button>
                    <button type="button" class="cancelbtn"> Cancel</button><br>
                    
                    <a href='#/ForgetPassword'><u>Forget Password</u></a>
                    <button type="submit"  class="registerbtn" ui-sref='register'>Register</button>
                 </div>
            </div>
   

</body>
</html>
