<!DOCTYPE html>
<head>
	<title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="../css/registration.css">
   
</head>
<body ng-controller='loginCtrl'>
    <form >
    <div class="container2" align="center">
		<h1>Registration Form</h1>
        <div>
        <label><b>First Name*</b> &nbsp;&nbsp;&nbsp;</label><br>
        <input type="text" size="25" ng-model='firstName'> 
        </div>
        <br>  
        <div> 
        <label><b>Last Name*</b></label><br>
        <input type="text" size="25" ng-model='lastname'>
		</div>
		<br>  
        <div> 
        <label><b>E-mail*</b></label><br>
        <input type="text" size="25" ng-model='email'>
		</div> 
        <div> 
        <label><b>Password*</b></label><br>
        <input type="text" size="25" ng-model='password'>
		</div>
        <div>
		<button type="button" class="registerbtn" > Register</button>
		<button type="button" class="cancelbtn"> Cancel</button>
        <p>Already have an account?<a ui-sref='login' >Sign in</a></p>

    
        </div>
	</div>
    </form>
</body>
</html>