<!DOCTYPE html>
<head>
	<title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="../css/registration.css">
   
</head>
<body>
    <form >
    <div class="container2" align="center">
		<h1>Registration Form</h1>
        <div>
        <label><b>First Name*</b> &nbsp;&nbsp;&nbsp;</label><br>
        <input type="text" size="25"> 
        </div>
        <br>  
        <div> 
        <label><b>Last Name*</b></label><br>
        <input type="text" size="25">
		</div>
		<br>  
        <div> 
        <label><b>User name for registration*</b></label><br>
        <input type="text" size="25">
		</div>
		<br>  
        <div> 
        <label><b>E-mail*</b></label><br>
        <input type="text" size="25">
		</div>
		<br>  
        <div> 
        <label><b>Password*</b></label><br>
        <input type="text" size="25">
		</div>
		<br>  
        <div>
        <label><b>Confirm Password*<b></label><br>
        <input type="text" size="25">
        </div>

        <br><br>
        <div>
		<button type="button" class="registerbtn"> Register</button>
		<button type="button" class="cancelbtn"> Cancel</button>
        <p>Already have an account?<a href="stylesheet" type="txt/css">Sign in</a></p>
        </div>
	</div>
    </form>
</body>
</html>