
        <form >
            <div class="forgotpassword" align="center">
                <h1>Reset Password</h1>
                <!-- <div>
                    <label> <b>E-mail</b> &nbsp;&nbsp;&nbsp;</label>
                    <input type="text" size="25"> 
                </div> -->
                 <br>  
                <div> 
                    <label><b>New Password</b></label><br>
                    <input type="password" ng-model="password">
                </div>
                <!-- <br>  
                <div> 
                    <label><b>Confirm Password</b></label><br>
                    <input type="password" ng-model="">
                </div> -->
            
                <br><br>
                <div>
                    <button type="button" class="submitbtn" ng-click="resetPassword()">Submit</button>
                    <button type="button" class="cancelbtn" ui-sref='login'> Cancel</button><br>
                 </div>
            </div>
        </form>




