<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="../css/registration.css">
</head>
<body>
        <form >
            <div class="forgotpassword" align="center">
                <h1>Reset Password</h1>
                <!-- <div>
                    <label> <b>E-mail</b> &nbsp;&nbsp;&nbsp;</label>
                    <input type="text" size="25"> 
                </div> -->
                 <br>  
                <div> 
                    <label><b>New Password</b></label><br>
                    <input type="text" size="25">
                </div>
                <br>  
                <div> 
                    <label><b>Confirm Password</b></label><br>
                    <input type="text" size="25">
                </div>
            
                <br><br>
                <div>
                    <button type="button" class="submitbtn">Submit</button>
                    <button type="button" class="cancelbtn"> Cancel</button><br>
                 </div>
            </div>
        </form>
</body>
</html>



