.fundoo{

    font-size: 30px;
    text-align: center
  }

  .signIn{
    text-align: center;
    font-size: 20px
  }

.fStyle{
  color: #344fed;
 
}

.uStyle{
  color:  #ea4235;
}
.nStyle{
  color: #2a8118;
}

.dStyle{
  color:#344fed;
}

.oStyle{
  color: #e2df2d;
}

.oOstyle{
  color: #ea4235;
}
.tStyle{
  color: #2913ec;
}
.eStyle{
  color: #2ee524;
}

.o0Style{
  color: #dfd43f;
}
.resetPassword{
    margin-left: 35%;
    font-size: 20px;
    top:300px 
}
.password{
    text-align: center;
    top: 22%;
    left:235px
}
.cancel{
    text-align:center;
    left: 0%;
    top: 110px;
  }
  .send{
    text-align:center;
    left:1%;
    top: 110px;
  }